@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.input-email {
  color: rgba(255, 255, 255, 0.4);
  background-color: $medBlue;

  width: 100%; // for mobile
  height: 3rem;

  border: none;
  border-radius: 1.5rem;

  @include break-up(medium) {
    width: 20rem;
  }

  &:focus {
    outline: none;
  }

  &:invalid {
    outline: none;
  }

  &.error-invalid:invalid {
    border: 2px solid $errorRed;
  }


}