// _base.scss

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $vdkBlue;

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url('/bgmatch/Mobile.jpg');
    background-size: contain;
    opacity: 0;
    pointer-events: none;

    @include break-up(medium) {
        background-image: url('/bgmatch/Tablet.jpg');
    }

    @include break-up(large) {
        background-image: url('/bgmatch/Desktop.jpg');
    }
}

}

.highlight-teal {
  color: $teal;
}

h1, h2, h3 {
  color: white;
}

p {
  color: $medGray;

  &.msg-error {
    color: $errorRed;
  }
}

ul {
  padding-left: 19px;
}

li {
  padding-left: 7px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}